<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <title>HANK’S BARBER – Főoldal</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header class="hero">
  <div class="hero-content">
    <h1>Stílus. Precizitás. Férfierő.</h1>
    <a href="/foglalas" class="btn">Időpontfoglalás</a>
  </div>
</header>



<nav class="navbar">
  <div class="nav-container">
    <div class="nav-logo">
      <span class="logotext-main">HANK’S<span class="dot">.</span></span><br>
      <span class="logotext-sub">BARBER SHOP</span>
    </div>
    <ul class="nav-links">
      <li><a href="/">Főoldal</a></li>
      <li><a href="/szolgaltatasok">Szolgáltatások</a></li>
      <li><a href="/webshop">Webshop</a></li>
      <li><a href="/kapcsolat">Kapcsolat</a></li>
    </ul>
  </div>
</nav>


  <section class="intro">
    <h2>Üdvözlünk a HANK’S BARBER világában</h2>
    <p>Egy hely, ahol a férfias elegancia találkozik a modern borbélyművészettel.</p>
    <p>Válassz stílust, és mi életre keltjük!</p>
  </section>
</body>
</html>
